<div>
  <div>
    <h1>
      Delivery Tracker
    </h1>
    <p>Know if something gets lost in the mail.</p>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Expecting a package?
    </h2>

    <form action="/insert_deivery" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>
       <textarea id="details_box" name="query_details" rows="3"></textarea>
      </div>

      <div>
        <label for="arrives_box">
          Supposed to arrive on
        </label>

        <input type="date" id="arrives_box" name="query_arrives">
      </div>

      <%# <div>
        <input type="checkbox" id="recieved_box" name="query_recieved" value="1">

        <label for="recieved_box">Recieved</label>
      </div> %>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id %>">
      </div>

      <button>
        Log deivery
      </button>
    </form>
  </div>
</div>
<hr>
<div class="waiting_on">
  <h2>Waiting on</h2>
  <% delivery = Deivery.where({ :recieved => false })%>
   <% delivery.each do |a_delivery| %>
    <ul>
      <li><%= a_delivery.description %>
      <p>Supposed to arrive on <%= a_delivery.arrives %></p>
      <%= a_delivery.details %>
      <form action="/modify_deivery/<%=a_delivery.id%>" method="post">
      <input type="hidden" name="query_recieved" value="true">
      <input type="hidden" name="query_desccription">
      <input type="hidden" name="query_details">
      <input type="hidden" name="query_arrives">
     
      <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id %>">
      <button>Mark as received</button> </li>
    </ul>
  <%end%>
  </div>
  <hr>
  <div class="received">
  <h2>Received</h2>
    <% delivery = Deivery.where({ :recieved => true })%>
   <% delivery.each do |a_delivery| %>
   <ul>
    <li><%=a_delivery.description %>
   </ul>

   <%end%>
  </div>
<div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Details
        </th>

        <th>
          Arrives
        </th>

        <th>
          Recieved
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_deiveries.each do |a_deivery| %>
      <tr>
        <td>
          <%= a_deivery.id %>
        </td>

        <td>
          <%= a_deivery.description %>
        </td>

        <td>
          <%= a_deivery.details %>
        </td>

        <td>
          <%= a_deivery.arrives %>
        </td>

        <td>
          <%= a_deivery.recieved %>
        </td>

        <td>
          <%= a_deivery.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_deivery.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_deivery.updated_at) %> ago
        </td>

        <td>
          <a href="/deiveries/<%= a_deivery.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
