<div>
  <div>
    <h1>
      Delivery Tracker
    </h1>
    <p>Know if something gets lost in the mail.</p>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Expecting a package?
    </h2>

    <form action="/insert_deivery" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>
       <textarea id="details_box" name="query_details" rows="3"></textarea>
      </div>

      <div>
        <label for="arrives_box">
          Supposed to arrive on
        </label>

        <input type="date" id="arrives_box" name="query_arrives">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id %>">
      </div>

      <button>
        Log delivery
      </button>
    </form>
  </div>
</div>
<hr>
<div class="waiting_on">
  <h2>Waiting on</h2>
  <% delivery = Deivery.where({ :recieved => false })%>
   <% delivery.each do |a_delivery| %>
    <ul>
      <li><%= a_delivery.description %>
      <% if Date.today - a_delivery.arrives >= 3 %>
      <div class="late">
      <p>Supposed to arrive on <%= a_delivery.arrives %></p>
      </div>
      <% else %>
      
      
      <p>Supposed to arrive on <%= a_delivery.arrives %></p>
      
      <%end%>


      <%= a_delivery.details %>
      <form action="/modify_deivery/<%=a_delivery.id%>" method="post">
      <input type="hidden" name="query_recieved" value="true">
    
      <input type="hidden" name="query_details">
      <input type="hidden" name="query_arrives">
     
      <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id %>">
      <button>Mark as received</button> </li>
    </ul>
  <%end%>
  </div>
  <hr>
  <div class="received">
  <h2>Received</h2>
    <% delivery = Deivery.where({ :recieved => true })%>
   <% delivery.each do |a_delivery| %>
   <ul>
     <li><div><%=a_delivery.description %></div>
    
     <div><small>Updated <%=time_ago_in_words(a_delivery.updated_at)
 %> ago <a href="/delete_deivery/<%=a_delivery.id %>">Delete</a>
 </small>
 </div>
 </li>
   </ul>

   <%end%>
  </div>
